<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header-info">
  <span class="header-info-name">{{ site.title }}</span>
</div>

<div>
  <a href="https://www.twitter.com/talfanevans" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
  /
  <a href="https://www.linkedin.com/in/talfan-evans-07b44350/?originalSubdomain=uk" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
  /
  <a href="mailto:talfan at google dot com">talfan at google dot com</a>
</div>

<hr>

<nav class="header-nav">
  <ul class="header-main-nav">
  {% for item in site.data.menus %}
    <li class="header-main-nav-item"><a href="{% if item.absoluteUrl != true %}{{ site.baseurl }}/{% endif %}{{ item.url }}">{% if item.default %}{{ site.data.lang[site.language][item.default] }}{% else %}{{ item.title }}{% endif %} / </a></li>
  {% endfor %}
  </ul>
</nav>
