@charset "utf-8";

.container-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
  font-size: 16px;
}

.container-header {
  width: 100%;
  padding: 3px 0 0 0;
  border-bottom: solid 1px #aaa;
  overflow: hidden;
}

.container-main {
  line-height: 1.4;
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
  min-height: calc(100vh - 159px);
}

.container-footer {
  padding: 10px 0;
  border-top: solid 1px #aaa;
  overflow: hidden;
}

.container-about {
  clear: both; /* Clear floats */
}
.container-about img {
    float: right; /* Float the image to the left */
    margin-left: 20px; /* Add space between the image and text */
    margin-bottom: px; /* Add bottom margin to separate sections */
    margin-top:20
}

.text-with-image {
    overflow: hidden; /* Clear floats inside the text-with-image div */
}

.single-article hr {
    margin: 5px 0 5px 0;
    border: 0;
    border-top: 1px solid #aaa;
}
