@charset "utf-8";

@media screen and (max-width: 768) {
  /* reset default styles */
  img {
    width: 20%;
    max-width: 300px;
  }

  /* Posts list */
  .posts-list-pagination {
    margin: 10px 0 5px 0;
  }

  /* Footer */
  .footer-copyright .float-left, .footer-copyright .float-right {
    float: none;
  }
}
