@charset "utf-8";

@media screen and (max-width: 768) {
  /* reset default styles */
  img {
    width: 100%;
    max-width: 300px;
  }

  /* Main window */
  .container-wrapper {
  width: 100%;
  margin: 0 10px;
  max-width: 768;
  font-size: 14px;
  }

  /* Posts list */
  .posts-list-pagination {
    margin: 10px 0 5px 0;
  }

  /* Footer */
  .footer-copyright .float-left, .footer-copyright .float-right {
    float: none;
  }
}
